p{
    font-family: "Rubik", serif;
    color: #757575;
}
.text-color{
    color: #f74780 !important;
    font-size: 40px;
    font-weight: 700;
}
:root{
    --pink-:rgb(247, 71, 128)
}
.fa-envelope{
    color: #f74780!important;
    font-size: 40px;
    font-weight: 700;
}
.btn-pink{
    color:var(--pink-) ;
    background-color: white !important;
}
.btn-white{
    color:white !important;
    background-color: var(--pink-);
}
.btn-white:hover{
    color:#f74780 !important;
    background-color: white !important;
    border: 1px solid #f74780 !important;
    transition: all 0.4s;
}
.btn-light:hover{
    color:white;
    background-color:var(--pink-);
    border: 1px solid var(--pink-);
    transition: all 0.4s;
    font-weight: 400;
}
.btn-pink:hover{
    color:white !important;
    background-color: #f74780 !important;
}
.link-pink{
    color: var(--pink-);
}
.link-purple{
    color: #6610f2 !important;
}
.nav-item a{
 font-family: "Rubik", serif;
}
.display-4{
    color: #353f4f !important;
    font-family: "Plus Jakarta Sans",sans-serif !important;
    font-weight: 700 !important;
}
.display-5{
    color: #353f4f !important;
    font-family: "Plus Jakarta Sans",sans-serif !important;
    font-weight: 700 !important;
}
.icon-color{
    color: #6610f2 !important;
}
.service-item{
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1) !important;
}
.service-item:hover{
    background-color: rgba(102, 16, 242, 0.09) !important;
    transition: all 0.5s;
}
.me-10{
    margin-bottom: 200px !important;
}
.feature-content a:hover{
    color: #f74780 !important;
}
.features-color{
    color: #353f4f !important;
}
.dropdown-item:hover{
  background-color:var(--pink-);
  color: white;
}
.price-item:hover{
    background-color:white !important;
    transition: 0.4s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
.blog-img{
    background-color: rgba(99, 14, 235, 0.411) !important;
}
.footer2{
    background: linear-gradient(rgba(102, 16, 242, 0.05), rgba(102, 16, 242, 0.05)) !important;
}

.footer-item a{
    text-decoration: none;
    line-height: 35px;
    color: #353f4f !important;
    font-family: "Rubik",sans-serif;
    font-weight: 400;
    transition: all 0.4s;
}
.footer-item a:hover{
    color: #f74780 !important;
    letter-spacing: 2px;
}
.btn-square{
    border-radius: 50% !important;
    width: 32px !important;
    height: 32px !important;
    background-color: #f74780 !important;
    color: white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.last-bg{
    background-color: #353f4f !important;
}
.design a:hover{
    color: white  !important;
}
.icon-color{
    color: rgb(102, 16, 242) !important;;
}
.btn-square I:hover{
   color:  #f74780 !important;
   border: 1px solid  #f74780 !important;
}
.link-white{
    color: white !important;
}
.text-icon{
   background-color: #f74780 !important;
   color: white !important;
}
.text-icon:hover{
    background-color: white !important;
    color: #f74780 !important;
    border: 1px solid #f74780 !important;
}
.carousel-control-next{
    width: 65px !important;
    height: 65px !important;
    border-radius: 40px !important;
    color:#f74780 !important;
    background-color:rgba(102, 16, 242, 0.09) !important;
    top: 170px !important;
}
.carousel-control-prev{
    width: 65px !important;
    height: 65px !important;
    border-radius: 40px !important;
    color:#f74780 !important;
    background-color:rgba(102, 16, 242, 0.09) !important;
    top: 170px !important;
}
.carousel-control-next:hover{
    background-color: #f74780 !important;
    color: white !important;
    transition: all 0.5s;
}
.carousel-control-prev:hover{
    background-color: #f74780 !important;
    color: white !important;
    transition: all 0.5s;
}